<a href="https://colab.research.google.com/github/Haikalcoding/Tugas-1/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#contoh list

nama= ['haikal','edwin', 'ryan','efor','fadil']
print(nama)

for i in range(len(nama)):
  print(nama [i])

nama [1] = 'yayat'
print (nama)

nama.pop (3) 
print (nama)

nama.insert (2, 'fadil')
print (nama)

['haikal', 'edwin', 'ryan', 'efor']
['haikal', 'yayat', 'ryan', 'efor']
['haikal', 'yayat', 'fadil', 'ryan', 'efor']

In [ ]:
#contoh Set 
sett = {1, 2, 3, 4, 5, 6, 7, 8} 

for i in sett:
  print(i)

sett = list(sett)

sett [2] = 9 #update

sett.append(10) #menambah

sett.pop(0) # menghapus

sett = set(sett)

print(sett)

In [ ]:
#tuple
nama= ("haikal","edwin","ryan","efor","fadil")

for a in range (len ( nama)):
	print (nama[a])
	
nama = list (nama )
nama [1] = 'yayat'
print (nama)

nama.pop (2)
print (nama)

nama.insert (3'mulham')

In [45]:
#contoh Dictionary
dictionary = {'nama': 'haikal', 'fakultas': 'teknik'}
 
for i in dictionary :
  print ("key:",i,".=>value:", dictionary [i])
dictionary ['nama'] = 'haikal'
print(dictionary)
dictionary.update({'alamat': 'tubo'})
print(dictionary)
dictionary.pop('nama')
print(dictionary)

key: nama .=>value: haikal
key: fakultas .=>value: teknik
{'nama': 'haikal', 'fakultas': 'teknik'}
{'nama': 'haikal', 'fakultas': 'teknik', 'alamat': 'tubo'}
{'fakultas': 'teknik', 'alamat': 'tubo'}